{% extends 'base.html' %} {% load static %} {% block styles %}
<!-- <link rel="stylesheet" href="/static/contact/styles/all-contact.css" /> -->
<link rel="stylesheet" href="/static/contact/styles/detail-contact.css" />
{% endblock styles %} {% block content %}
<div class="container">
  <img src="{{ contact.image }}" alt="" />
  <h2>{{ contact.contact_name }}</h2>
  <p>{{ contact.first_name }} {{ contact.last_name }}</p>
  <p class="person-status">{{ contact.real_person }}</p>
  {% if contact.birthday %}
  <p class="birthday">Birthday: {{ contact.birthday }}</p>
  {% endif %}
  <ul class="ul-container">
    <li class="numbers">
      <span>mobile</span>
      <ul class="inner">
        {% for mobile in contact.mobile %}
        <li class="number">{{ mobile.number}}</li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>phone</span>
      <ul class="inner">
        {% for phone in contact.phone %}
        <li class="number">{{ phone.number}}</li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>fax</span>
      <ul class="inner">
        {% for fax in contact.fax %}
        <li class="number">{{ fax.number}}</li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>social media</span>
      <ul class="inner">
        {% for social in contact.social %}
        <li class="number">
          <a href="{{ social.address}}">{{social.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>email</span>
      <ul class="inner">
        {% for email in contact.email %}
        <li class="number">{{email.email}}</li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>address</span>
      <ul class="inner">
        {% for address in contact.address %}
        <li class="number">{{address.address}}</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
{% endblock content %}
