{% extends 'base.html' %} {% load static %} {% block styles %}
<!-- <link rel="stylesheet" href="/static/contact/styles/all-contact.css" /> -->
<link rel="stylesheet" href="/static/contact/styles/detail-contact.css" />
{% endblock styles %} {% block content %} {% if form %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <ul class="ul-forms">
    <li class="li-forms">
      <ul class="form">
        {{contact_form.as_ul}}
      </ul>
    </li>
  </ul>
</form>
{% endif %}
<div class="container">
  <!-- <img src="{{ contact.image }}" alt="" /> -->
  <div class="info">
    <ul class="ul-info">
      <li class="li-info">
        <span class="title">contact name :</span>
        <span class="data">{{ header.contact_name }}</span>
      </li>
      <li class="li-info">
        <span class="title">first name :</span>
        <span class="data">{{ header.first_name }}</span>
      </li>
      <li class="li-info">
        <span class="title">last name :</span>
        <span class="data">{{ header.last_name }}</span>
      </li>
      <li class="li-info">
        <span class="title">personality :</span>
        <span class="data">{{ header.real_person }}</span>
      </li>
      <li class="li-info">
        <span class="title">birthday :</span>
        <span class="data">{{ header.birthday }}</span>
      </li>
    </ul>
    <ul class="option">
      <li class="li-option">
        <a
          href="{% url 'contact:edit' header.id header.contact_name 'personal' 'info' %}"
          >Edit</a
        >
      </li>
    </ul>
  </div>
  <ul class="ul-container">
    <li class="numbers">
      <span>mobile</span>
      <ul class="inner">
        {% for mobile in body.mobile %}
        <li class="number">
          {{ mobile.mobile_number}}
          <a
            class="edit"
            href="{% url 'contact:edit' header.id header.contact_name 'mobile' mobile.mobile_number %}"
            >Edit</a
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>phone</span>
      <ul class="inner">
        {% for phone in body.phone %}
        <li class="number">
          {{ phone.phone_number}}
          <a
            class="edit"
            href="{% url 'contact:edit' header.id header.contact_name 'phone' phone.phone_number %}"
            >Edit</a
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>fax</span>
      <ul class="inner">
        {% for fax in body.fax %}
        <li class="number">
          {{ fax.fax_number}}
          <a
            class="edit"
            href="{% url 'contact:edit' header.id header.contact_name 'fax' fax.fax_number %}"
            >Edit</a
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>social media</span>
      <ul class="inner">
        {% for social in body.social %}
        <li class="number">
          <a href="{{ social.social_address}}">{{social.social_name}}</a>
          <a
            class="edit"
            href="{% url 'contact:edit' header.id header.contact_name 'social' social.social_name %}"
            >Edit</a
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>email</span>
      <ul class="inner">
        {% for email in body.email %}
        <li class="number">
          {{email.email}}
          <a
            class="edit"
            href="{% url 'contact:edit' header.id header.contact_name 'email' email.email %}"
            >Edit</a
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    <li class="numbers">
      <span>address</span>
      <ul class="inner">
        {% for address in body.address %}
        <li class="number">
          <p>{{address.address}}</p>
          <a
            class="edit"
            href="{% url 'contact:edit' header.id header.contact_name 'address' address.address %}"
            >Edit</a
          >
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
{% endblock content %}
