{% extends 'base.html' %} {% block styles %}
<link rel="stylesheet" href="/static/contact/styles/create-contact.css" />
{% endblock styles %}{% block content %}
<div class="container">
  <form action="" method="put" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="ul-forms">
      <li class="li-forms">
        <ul class="form">
          {{contact_form.as_ul}}
        </ul>
      </li>
      <li class="li-forms">
        <ul class="form">
          {{mobile_form.as_ul}}
        </ul>
      </li>
      <li class="li-forms">
        <ul class="form">
          {{phone_form.as_ul}}
        </ul>
      </li>
      <li class="li-forms">
        <ul class="form">
          {{fax_form.as_ul}}
        </ul>
      </li>
      <li class="li-forms" id="social">
        <ul class="form">
          {{social_form.as_ul}}
        </ul>
      </li>
      <li class="li-forms">
        <ul class="form">
          {{email_form.as_ul}}
        </ul>
      </li>
      <li class="li-forms" id="address">
        <ul class="form">
          {{address_form.as_ul}}
        </ul>
      </li>
      <li class="li-forms" id="buttom">
        <input type="submit" value="edit" />
      </li>
      <!-- <input type="submit" value="create" /> -->
    </ul>
  </form>
</div>
{% endblock content %}
